<%- include('partials/admin_head') %> <%- include('partials/admin_header') %>
<main role="main">
  <%- include('partials/admin_nav') %>

  <section class="singleItem">
    <form method="post" enctype="multipart/form-data" id="signupForm">
      <fieldset>
        <label for="title">Navn</label>
        <input type="text" name="title" id="title" />
      </fieldset>
      <fieldset>
        <label for="case_number">Sagsnummer</label>
        <input type="number" name="case_number" id="case_number" />
      </fieldset>
      <fieldset>
        <label for="description">Beskrivelse</label>
        <textarea
          name="description"
          id="description"
          cols="30"
          rows="10"
        ></textarea>
      </fieldset>
      <fieldset>
        <label for="price">Pris</label>
        <input type="number" name="price" id="price" />
      </fieldset>
      <fieldset>
        <label for="brutto">Butto</label>
        <input type="number" name="brutto" id="brutto" />
      </fieldset>
      <fieldset>
        <label for="netto">Netto</label>
        <input type="number" name="netto" id="netto" />
      </fieldset>
      <fieldset>
        <label for="size_area">Grundareal m<sup>2</sup></label>
        <input type="number" name="size_area" id="size_area" />
      </fieldset>
      <fieldset>
        <label for="size_home">Boligstørrelse m<sup>2</sup></label>
        <input type="number" name="size_home" id="size_home" />
      </fieldset>
      <fieldset>
        <label for="type">Bolig type</label>
        <select name="type" id="type">
          <% types.forEach(type => { %>
          <option value="<%= type.id %>">
            <%= type.name %>
          </option>
          <% }); %>
        </select>
      </fieldset>
      <fieldset>
        <label for="image">Billeder</label>
        <input type="file" name="image" id="image" multiple />
      </fieldset>
      <button type="submit">Opret bolig</button>
    </form>
  </section>
</main>
<%- include('partials/admin_footer') %>
