<%- include('partials/admin_head') %> <%- include('partials/admin_header') %>
<main role="main">
  <%- include('partials/admin_nav') %>

  <section class="singleItem">
    <form method="post" enctype="multipart/form-data">
      <fieldset>
        <span style="color: red;"
          ><%= typeof messages != 'undefined' && typeof messages.error !=
          'undefined' ? messages.error : '' %></span
        >
        <span style="color: green;"
          ><%= typeof messages != 'undefined' && typeof messages.info !=
          'undefined' ? messages.info : '' %></span
        >

        <label for="name">Navn</label>
        <input
          type="text"
          name="name"
          id="name"
          value="<%= house_type.name %>"
        />
      </fieldset>
      <button type="submit">Update</button>
    </form>
  </section>
</main>
<%- include('partials/admin_footer') %>
