<%- include('partials/admin_head') %>

<%- include('partials/admin_header') %>
<main role="main">
    <%- include('partials/admin_nav') %>

    <section class="singleItem">
        <form method="post" enctype="multipart/form-data">
            <span
                style="color: red"><%= typeof messages != 'undefined' && typeof messages.error != 'undefined' ? messages.error : '' %></span>
            <span
                style="color: green"><%= typeof messages != 'undefined' && typeof messages.info != 'undefined' ? messages.info : '' %></span>

            <fieldset>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="<%= user.username %>">
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </fieldset>
            <fieldset>
                <label for="role">Role</label>
                <select name="role" id="role">
                    <% roles.forEach(role => { %>
                    <option value="<%= role.id %>" <% if (user.fk_role==role.id ){%> selected <%} %>>
                        <%= role.name %>
                    </option>
                    <% }); %>
                </select>
            </fieldset>
            <button type="submit">Update</button>
        </form>
    </section>
</main>
<%- include('partials/admin_footer') %>
