<%- include('partials/admin_head') %> <%- include('partials/admin_header') %>
<main role="main">
  <%- include('partials/admin_nav') %>

  <section>
    <a class="newData" href="/projects/exam/admin/user/new">Create a new user</a>
    <table>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Rank</th>
        <th>Edit / Delete</th>
      </tr>
      <% results.forEach(result => { %>
      <tr>
        <td>
          <%= result.id %>
        </td>
        <td>
          <%= result.username %>
        </td>
        <td>
          <%= result.role %>
        </td>
        <td>
          <div>
            <a href="/projects/exam/admin/user/edit/<%= result.id %>">
              <p>Edit</p>
              <i class="fas fa-edit"></i>
            </a>
            <hr />
            <a href="/projects/exam/admin/user/delete/<%= result.id %>">
              <p>Delete</p>
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </td>
      </tr>
      <% }); %>
    </table>
  </section>
</main>

<%- include('partials/admin_footer') %>
